---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import Layout from '../../layouts/Layout.astro';

export const getStaticPaths = async () => {
    const notes = await getCollection("notes");
    const paths = notes.map(note => {
        return {
            params: {
                slug: note.slug
            },
            props: {
                note
            }
        }
    });

    return paths;
}

type Props = {
    note: CollectionEntry<"notes">
}

const {note} = Astro.props;
const {Content} = await note.render();
---

<Layout title={note.data.title}>
    <section class="flex justify-center mt-12">
        <div id="markdown" class="prose prose-lg overflow-visible relative mb-5">
            <Content />
        </div>
    </section>

    <script>
        import { toggleMarkdownTheme } from "../../scripts/theme";

        const theme = document.documentElement.dataset.theme;

        toggleMarkdownTheme(theme)
    </script>
</Layout>
