---
import Experience from './portfolio/Experience.astro';
import Education from './portfolio/Education.astro';
---

<section class="py-8 bg-background">
  <div class="container mx-auto px-6">
    <div class="flex flex-col lg:flex-row lg:space-x-12">
      <div class="lg:w-1/2 mb-12 lg:mb-0">
        <Experience />
      </div>

      <div class="lg:w-1/2">
        <Education />
      </div>
    </div>
  </div>
</section>
