---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import Layout from '../../layouts/Layout.astro';

export const getStaticPaths = async () => {
    const blogs = await getCollection("blogs");
    const paths = blogs.map(blog => {
        return {
            params: {
                slug: blog.slug
            },
            props: {
                blog
            }
        }
    });

    return paths;
}

type Props = {
    blog: CollectionEntry<"blogs">
}

const {blog} = Astro.props;
const {Content} = await blog.render();
---

<Layout title={blog.data.title}>
    <section class="flex justify-center mt-12">
        <div id="markdown" class="prose prose-lg overflow-visible relative mb-5">
            <Content />
        </div>
    </section>

    <script>
        import { toggleMarkdownTheme } from "../../scripts/theme";

        const theme = document.documentElement.dataset.theme;

        toggleMarkdownTheme(theme)
    </script>
</Layout>
